<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Job Quiz | Push Pros</title>
  </head>
  <body>
    <div class="contaner-fluid mt-5 mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 70%">
      <h2 class="text-center">Push Pros Table</h2>
      <button type="button" class="btn btn-primary float-right" id="load_data_btn">Load Data</button>
        <script id="pushPros" type="text/x-handlebars-template">
        </script>
        <table
          class="table table-borderless table-hover table-responsive-xl  mt-5"
          id="data1">
        </table>
    </div>
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- My JavaScript -->
    <script
      type="text/javascript"
      $(document).ready(function
      ()
      {});
      src="../scripts/script.js"
    ></script>
  </body>
</html>
