<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Job Quiz | Push Pros</title>
  </head>
  <body>
    <div
      class="contaner-fluid mt-5 mx-auto shadow p-3 mb-5 bg-white rounded"
      style="width: 70%"
    >
      <h2 class="text-center">Push Pros Table</h2>

      <button
        type="button"
        class="btn btn-primary float-right"
        id="load_data_btn"
      >
        Load Data
      </button>
      <div class="table-responsive-xl">
        <table
          class="table table-borderless table-hover table-responsive-xl  mt-5"
          id="data_table"
        >
          <tr>
            <th class="border-bottom">id</th>
            <th class="border-bottom">uid</th>
            <th class="border-bottom">url</th>
            <th class="border-bottom">name</th>
            <th class="border-bottom">icon</th>
            <th class="border-bottom">promptId</th>
            <th class="border-bottom">webPushID</th>
            <th class="border-bottom">auto_prompt</th>
            <th class="border-bottom">createdAt</th>
            <th class="border-bottom">active</th>
          </tr>
        </table>

        <script id="pushPros" type="text/x-handlebars-template">
          <tr>
              <th class="border-bottom">id</th>
              <th class="border-bottom">uid</th>
              <th class="border-bottom">url</th>
              <th class="border-bottom">name</th>
              <th class="border-bottom">icon</th>
              <th class="border-bottom">promptId</th>
              <th class="border-bottom">webPushID</th>
              <th class="border-bottom">auto_prompt</th>
              <th class="border-bottom">createdAt</th>
              <th class="border-bottom">active</th>
            </tr>
            {{#each sites}}
            <tr></tr><td class="font-weight-bold border-bottom">{{id}}</td>
                <td class="border-bottom">{{uid}}</td>
                <td class="border-bottom"><a id ="show_url"href="{{url}}">Here</a></td>
                <td class="border-bottom">{{name}}</td>
                <td class="border-bottom"><a href="{{icon}}">View Icon</a></td>
                <td class="border-bottom">{{promptId}}</td>
                <td class="border-bottom">{{webPushID}}</td>
                <td class="border-bottom">{{auto_prompt}}</td>
                <td class="border-bottom">{{createdAt}}</td>
                <td class="border-bottom">{{active}}</td>
             {{/each}}
        </script>
      </div>
    </div>
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- My JavaScript -->
    <script
      type="text/javascript"
      $(document).ready(function
      ()
      {});
      src="../scripts/script.js"
    ></script>
  </body>
</html>
